In [19]:
import csv

f = open("data\event.log.20190902031144_20000.csv", "w")
# f.write("Now the file has more content!")

with open("data\event.log.20190902031144.csv") as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
#         print(row[1])
        line_count += 1
#         if line_count == 1:
#             continue
#         if int(row[1]) > 1567408288 and int(row[1]) < 1567408648:
#         if line_count < 1000 :
#             continue
        f.write(str(row))
        f.write("\n")
        if line_count > 2000 :
            break
    print(f'Processed {line_count} lines.')
f.close()

Processed 2001 lines.

In [4]:
import pandas as pd

In [5]:

incidents = pd.read_csv("data\incident-change\incidents.csv") 

incidents.head()

       incident_id           submit_date  bus_id event_code
0  CRQ001000044016  22-Aug-2019 04:29:38   36944     DDT-11
1  INC001000000002  14-Aug-2018 09:22:15    9873    APPL-85
2  INC001000000007  16-Aug-2018 12:10:16   35574    NAVI-32
3  INC001000000008  17-Aug-2018 11:50:12   35574     ESM-22
4  INC001000000009  17-Aug-2018 11:59:37   35574     ESM-22

In [6]:
changes = pd.read_csv("data\incident-change\changes.csv") 

changes.head()

         change_id           submit_date  bus_id event_code
0  CRQ001000000004  15-Aug-2018 11:22:56   35383    APPL-06
1  CRQ001000000005  15-Aug-2018 15:21:15   35383    NTWK-20
2  CRQ001000000007  15-Aug-2018 16:45:33   35383   DBDB2-03
3  CRQ001000000008  15-Aug-2018 16:48:33   35383   DBDB2-03
4  CRQ001000000009  16-Aug-2018 09:12:27   35383   DBDB2-03

In [7]:
change_device = pd.read_csv("data\incident-change\change-device.csv") 
change_device.head()

         change_id                             recon_id
0  CRQ001000000004  OI-68BFCDD29D1411E899CA005056AC8828
1  CRQ001000000005  OI-687AD84E9D1411E899BA005056AC8828
2  CRQ001000000007  OI-58E1127C9D1411E89560005056AC8828
3  CRQ001000000008  OI-58E1127C9D1411E89560005056AC8828
4  CRQ001000000009  OI-5C8DBAF69D1411E89649005056AC8828

In [8]:
incident_device = pd.read_csv("data\incident-change\incident-device.csv") 
incident_device.head()

       incident_id                             recon_id
0  CRQ001000044016  OI-88A7FF529D1411E8A35F005056AC8828
1  CRQ001000044016  OI-257C0BF49CF011E8BABA005056AC8828
2  INC001000000002  OI-6C1981C69D1411E89AC6005056AC8828
3  INC001000000002  OI-3C69EAF29CF011E8BA3F005056AC8828
4  INC001000000007  OI-64139C789D1411E8986E005056AC8828

In [9]:
bus_parent = pd.read_csv("data/bus_parent.csv") 
bus_parent.head()

   BUS_ID  PARENT_ID
0    5793       1914
1    9873      14748
2   10354       1914
3   10615       1914
4   11376       1914

In [10]:
customer = pd.read_csv("data\customer.csv") 
customer.head()
# customer.RECONCILIATION_ID.unique()
print(customer.RECONCILIATION_ID.unique().shape)
print(customer.RECONCILIATION_ID.shape)

(56726,)
(56726,)

In [11]:
device = pd.read_csv("data\device.csv") 
print(device.head())
print(device.RECON_ID.unique().shape)

   TARGET_ID        RECON_ID
0       2777  PREATLAS_22811
1       2778  PREATLAS_22811
2       2779  PREATLAS_22811
3       2780  PREATLAS_22811
4       2781  PREATLAS_22811
(32836,)

In [12]:
device_location = pd.read_csv("data\device_location.csv") 
print(device_location.head())
print(device_location.shape)

   BUS_ID        DEVICE_TYPE OPERATING_SYSTEM  \
0   37146  RAIDStorageDevice              NaN
1   38023             Server              NaN
2   16715             Server              NaN
3   19922             Router              NaN
4   37373             Server              NaN

                     RECONCILIATION_ID                 SITE  \
0  OI-FDF0CAB69CEF11E896C7005056AC8828  MM-400 Minuteman Rd
1  OI-D723D6129D9911E8BCF6005056AC8828  MM-400 Minuteman Rd
2  OI-6E3509E09CF011E88E5A005056AC8828     RHUK01-Unit 3 St
3  OI-343704B49CF011E8B2D8005056AC8828  MM-400 Minuteman Rd
4  OI-6F5224DE9CF011E88F4F005056AC8828  MM-400 Minuteman Rd

           TYPE_NAME IS_VIRTUAL
0  RAIDStorageDevice          N
1             Server          Y
2             Server          Y
3             Router          N
4             Server          Y
(28363, 7)

In [39]:
event_log = pd.read_csv("data\event.log.20190902031144_20000.csv") 
event_log.head()

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,HIGH_THRESHOLD,PROPAGATED_FLAG,EVENT_CODE,METRIC_NAME
0,1,1567408304,1567408304,2718523,1347,T,0,0,-inf,1281576.0,inf,0,UNIX-03,memAvailReal
1,1,1567408304,1567408304,2718523,1760,T,0,0,-inf,891074169.0,inf,0,UNIX-10,sysUptime
2,1,1567408304,1567408303,3357744,1060,A,0,0,0,0.0,0,0,ISM-30,None
3,1,1567408304,1567408303,2641395,3200,A,0,0,0,0.0,0,0,ESM-18,None
4,1,1567408304,1567408303,2641824,2200,T,0,0,1,1.0,1,0,WINT-06,Started

In [14]:
parent = pd.read_csv("data\parent.csv") 
parent.head()

   TARGET_ID  PARENT_ID
0       2777       2649
1       2778       2649
2       2779       2649
3       2780       2649
4       2781       2649

In [15]:
monitorType = pd.read_csv("data/type.csv") 
monitorType.head()

   TARGET_ID               TYPE
0       2777  Network Interface
1       2778  Network Interface
2       2779  Network Interface
3       2780  Network Interface
4       2781  Network Interface

In [16]:
# add parent monitor mapping to device

In [ ]:
# merge customer & bus_parent

In [ ]:
# convert timestamp in incident to unix format

In [ ]:
# merge change and change_device

In [40]:
# merge incident and incident_Device

In [ ]:
"""
Notes :
1. Merge customer to get custmer parent
2. 
"""

In [50]:
# event_log.head(2000)

In [52]:
device.head()

   TARGET_ID        RECON_ID
0       2777  PREATLAS_22811
1       2778  PREATLAS_22811
2       2779  PREATLAS_22811
3       2780  PREATLAS_22811
4       2781  PREATLAS_22811

In [41]:
# monitorType['TARGET_ID'] = monitorType['TARGET_ID'].astype(int)
# event_log['POLICY_ID'] = event_log['POLICY_ID'].astype(int)

In [47]:
# event_log.dtypes

In [44]:
# # Merge event log and monitor type 
# df2 = event_log.join(monitorType, on='TARGET_ID', how='outer', lsuffix='_EVENT', rsuffix='_MONITOR', sort=False) 
# event_log.
# monitorType

In [108]:
df2 = pd.merge(event_log, monitorType, how='left' ,left_on='TARGET_ID', right_on='TARGET_ID')

In [124]:
df2

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,HIGH_THRESHOLD,PROPAGATED_FLAG,EVENT_CODE,METRIC_NAME,TYPE
0,1,1567408304,1567408304,2718523,1347,T,0,0,-inf,1281576.0,inf,0,UNIX-03,memAvailReal,Server
1,1,1567408304,1567408304,2718523,1760,T,0,0,-inf,891074169.0,inf,0,UNIX-10,sysUptime,Server
2,1,1567408304,1567408303,3357744,1060,A,0,0,0,0.0,0,0,ISM-30,None,Ping
3,1,1567408304,1567408303,2641395,3200,A,0,0,0,0.0,0,0,ESM-18,None,WMI: Service Monitor
4,1,1567408304,1567408303,2641824,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,1567408306,1567408305,3525899,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service
1996,1,1567408306,1567408305,3525900,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service
1997,1,1567408306,1567408305,3525901,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service
1998,1,1567408306,1567408305,3525902,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service
1999,1,1567408306,1567408305,3525903,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service

In [109]:
df3 = pd.merge(df2, device, how='left' ,left_on='TARGET_ID', right_on='TARGET_ID')

In [125]:
df3

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,HIGH_THRESHOLD,PROPAGATED_FLAG,EVENT_CODE,METRIC_NAME,TYPE,RECON_ID
0,1,1567408304,1567408304,2718523,1347,T,0,0,-inf,1281576.0,inf,0,UNIX-03,memAvailReal,Server,NaN
1,1,1567408304,1567408304,2718523,1760,T,0,0,-inf,891074169.0,inf,0,UNIX-10,sysUptime,Server,NaN
2,1,1567408304,1567408303,3357744,1060,A,0,0,0,0.0,0,0,ISM-30,None,Ping,NaN
3,1,1567408304,1567408303,2641395,3200,A,0,0,0,0.0,0,0,ESM-18,None,WMI: Service Monitor,NaN
4,1,1567408304,1567408303,2641824,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,1567408306,1567408305,3525899,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service,NaN
1996,1,1567408306,1567408305,3525900,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service,NaN
1997,1,1567408306,1567408305,3525901,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service,NaN
1998,1,1567408306,1567408305,3525902,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service,NaN
1999,1,1567408306,1567408305,3525903,2200,T,0,0,1,1.0,1,0,WINT-06,Started,WMI: Service,NaN

In [127]:
df35 = df3[df3['RECON_ID'].notnull()]

In [128]:
df35

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,HIGH_THRESHOLD,PROPAGATED_FLAG,EVENT_CODE,METRIC_NAME,TYPE,RECON_ID
77,1,1567408304,1567408304,1407391,2341,A,0,0,0,0.000000e+00,0,0,ESM-18,None,WMI: Server,OI-3A7579289CF011E8B879005056AC8828
78,1,1567408304,1567408304,1407391,2227,T,0,0,-inf,1.012531e+10,inf,0,WINT-27,MemAvail,WMI: Server,OI-3A7579289CF011E8B879005056AC8828
79,1,1567408304,1567408304,1407391,3943,T,0,0,-inf,2.300000e+00,inf,0,WINT-01,PctTotal,WMI: Server,OI-3A7579289CF011E8B879005056AC8828
80,1,1567408304,1567408304,1407391,4022,T,0,0,-inf,3.111629e+06,inf,0,WINT-07,SystemUpTime,WMI: Server,OI-3A7579289CF011E8B879005056AC8828
81,1,1567408304,1567408304,1409146,4303,T,0,0,0,2.240000e+00,inf,0,WINT-01,PctTotal,WMI: Processor,OI-3A7579289CF011E8B879005056AC8828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1958,1,1567408306,1567408305,2155375,2200,T,0,0,1,1.000000e+00,1,0,WINT-06,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828
1959,1,1567408306,1567408305,2155376,2200,T,0,0,1,1.000000e+00,1,0,WINT-06,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828
1960,1,1567408306,1567408305,2155378,2200,T,0,0,1,1.000000e+00,1,0,WINT-06,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828
1962,1,1567408306,1567408305,2155379,2200,T,0,0,1,1.000000e+00,1,0,WINT-06,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828
1963,1,1567408306,1567408305,2155380,2200,T,0,0,1,1.000000e+00,1,0,WINT-06,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828

In [129]:
df4 = pd.merge(df35, device_location, how='left' ,left_on='RECON_ID', right_on='RECONCILIATION_ID')

In [130]:
df4

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,...,METRIC_NAME,TYPE,RECON_ID,BUS_ID,DEVICE_TYPE,OPERATING_SYSTEM,RECONCILIATION_ID,SITE,TYPE_NAME,IS_VIRTUAL
0,1,1567408304,1567408304,1407391,2341,A,0,0,0,0.000000e+00,...,None,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
1,1,1567408304,1567408304,1407391,2227,T,0,0,-inf,1.012531e+10,...,MemAvail,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
2,1,1567408304,1567408304,1407391,3943,T,0,0,-inf,2.300000e+00,...,PctTotal,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
3,1,1567408304,1567408304,1407391,4022,T,0,0,-inf,3.111629e+06,...,SystemUpTime,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
4,1,1567408304,1567408304,1409146,4303,T,0,0,0,2.240000e+00,...,PctTotal,WMI: Processor,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,1,1567408306,1567408305,2155375,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
638,1,1567408306,1567408305,2155376,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
639,1,1567408306,1567408305,2155378,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
640,1,1567408306,1567408305,2155379,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
641,1,1567408306,1567408305,2155380,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y

In [131]:
df5 = df4[df4['RECON_ID'].notnull()]

In [132]:
df5

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,...,METRIC_NAME,TYPE,RECON_ID,BUS_ID,DEVICE_TYPE,OPERATING_SYSTEM,RECONCILIATION_ID,SITE,TYPE_NAME,IS_VIRTUAL
0,1,1567408304,1567408304,1407391,2341,A,0,0,0,0.000000e+00,...,None,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
1,1,1567408304,1567408304,1407391,2227,T,0,0,-inf,1.012531e+10,...,MemAvail,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
2,1,1567408304,1567408304,1407391,3943,T,0,0,-inf,2.300000e+00,...,PctTotal,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
3,1,1567408304,1567408304,1407391,4022,T,0,0,-inf,3.111629e+06,...,SystemUpTime,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
4,1,1567408304,1567408304,1409146,4303,T,0,0,0,2.240000e+00,...,PctTotal,WMI: Processor,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,1,1567408306,1567408305,2155375,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
638,1,1567408306,1567408305,2155376,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
639,1,1567408306,1567408305,2155378,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
640,1,1567408306,1567408305,2155379,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y
641,1,1567408306,1567408305,2155380,2200,T,0,0,1,1.000000e+00,...,Started,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y

In [133]:
# df6 = pd.merge(df5, customer, how='left' ,left_on='RECONCILIATION_ID', right_on='RECONCILIATION_ID')

In [136]:
# df6

In [137]:
df7 = pd.merge(df5, bus_parent, how='left' ,left_on='BUS_ID', right_on='BUS_ID')

In [146]:
df7

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,...,TYPE,RECON_ID,BUS_ID,DEVICE_TYPE,OPERATING_SYSTEM,RECONCILIATION_ID,SITE,TYPE_NAME,IS_VIRTUAL,PARENT_ID
0,1,1567408304,1567408304,1407391,2341,A,0,0,0,0.000000e+00,...,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN
1,1,1567408304,1567408304,1407391,2227,T,0,0,-inf,1.012531e+10,...,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN
2,1,1567408304,1567408304,1407391,3943,T,0,0,-inf,2.300000e+00,...,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN
3,1,1567408304,1567408304,1407391,4022,T,0,0,-inf,3.111629e+06,...,WMI: Server,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN
4,1,1567408304,1567408304,1409146,4303,T,0,0,0,2.240000e+00,...,WMI: Processor,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,1,1567408306,1567408305,2155375,2200,T,0,0,1,1.000000e+00,...,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN
638,1,1567408306,1567408305,2155376,2200,T,0,0,1,1.000000e+00,...,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN
639,1,1567408306,1567408305,2155378,2200,T,0,0,1,1.000000e+00,...,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN
640,1,1567408306,1567408305,2155379,2200,T,0,0,1,1.000000e+00,...,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN
641,1,1567408306,1567408305,2155380,2200,T,0,0,1,1.000000e+00,...,WMI: Service,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN

In [152]:
df8 = pd.merge(df7, parent, how='left', left_on='TARGET_ID', right_on='TARGET_ID')

In [149]:
df8

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,...,RECON_ID,BUS_ID,DEVICE_TYPE,OPERATING_SYSTEM,RECONCILIATION_ID,SITE,TYPE_NAME,IS_VIRTUAL,PARENT_ID_x,PARENT_ID_y
0,1,1567408304,1567408304,1407391,2341,A,0,0,0,0.000000e+00,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
1,1,1567408304,1567408304,1407391,2227,T,0,0,-inf,1.012531e+10,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
2,1,1567408304,1567408304,1407391,3943,T,0,0,-inf,2.300000e+00,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
3,1,1567408304,1567408304,1407391,4022,T,0,0,-inf,3.111629e+06,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
4,1,1567408304,1567408304,1409146,4303,T,0,0,0,2.240000e+00,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,1407391.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,1,1567408306,1567408305,2155375,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
638,1,1567408306,1567408305,2155376,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
639,1,1567408306,1567408305,2155378,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
640,1,1567408306,1567408305,2155379,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
641,1,1567408306,1567408305,2155380,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0

In [153]:
df8.rename(columns={'PARENT_ID_x':'BUS_PARENT',
                   'PARENT_ID_y':'MONITOR_PARENT'}, inplace=True)

In [154]:
df8

,DESTINATION,CORE_TIME,POLLER_TIME,TARGET_ID,POLICY_ID,POLICY_TYPE,DETECTED_SEVERITY,PROPAGATED_SEVERITY,LOW_THRESHOLD,MEASURED_VALUE,...,RECON_ID,BUS_ID,DEVICE_TYPE,OPERATING_SYSTEM,RECONCILIATION_ID,SITE,TYPE_NAME,IS_VIRTUAL,BUS_PARENT,MONITOR_PARENT
0,1,1567408304,1567408304,1407391,2341,A,0,0,0,0.000000e+00,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
1,1,1567408304,1567408304,1407391,2227,T,0,0,-inf,1.012531e+10,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
2,1,1567408304,1567408304,1407391,3943,T,0,0,-inf,2.300000e+00,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
3,1,1567408304,1567408304,1407391,4022,T,0,0,-inf,3.111629e+06,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,NaN
4,1,1567408304,1567408304,1409146,4303,T,0,0,0,2.240000e+00,...,OI-3A7579289CF011E8B879005056AC8828,35655,Server,NaN,OI-3A7579289CF011E8B879005056AC8828,MM-400 Minuteman Rd,Server,Y,NaN,1407391.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637,1,1567408306,1567408305,2155375,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
638,1,1567408306,1567408305,2155376,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
639,1,1567408306,1567408305,2155378,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
640,1,1567408306,1567408305,2155379,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0
641,1,1567408306,1567408305,2155380,2200,T,0,0,1,1.000000e+00,...,OI-7E9C17749CF011E89C2E005056AC8828,37961,Processing unit,NaN,OI-7E9C17749CF011E89C2E005056AC8828,RHUK01-Unit 3 St,Processing unit,Y,NaN,2155212.0